In [1]:
# Importaciones
import pandas as pd
import numpy as np 
from word2number import w2n

# Imputación de nulos usando métodos avanzados estadísticos
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv("Mental Health Dataset.csv", low_memory=False)

In [3]:
df.head()

,Timestamp,Gender,Country,Occupation,self_employed,family_history,treatment,Days_Indoors,Growing_Stress,Changes_Habits,Mental_Health_History,Mood_Swings,Coping_Struggles,Work_Interest,Social_Weakness,mental_health_interview,care_options
0,2014-08-27 11:29:31,Female,United States,Corporate,NaN,No,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Not sure
1,2014-08-27 11:31:50,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,No
2,2014-08-27 11:32:39,Female,United States,Corporate,NaN,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes
3,2014-08-27 11:37:59,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,Maybe,Yes
4,2014-08-27 11:43:36,Female,United States,Corporate,No,Yes,Yes,1-14 days,Yes,No,Yes,Medium,No,No,Yes,No,Yes

In [4]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Mood_Swings',
       'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [5]:
#FUNCIONES EXPLORACION#

def exploracion_general (dataframe):
    """Esta función proporciona una descripción personalizada de un DataFrame,
    incluyendo estadísticas descriptivas y tipos de datos de cada columna.
    
    Args:
    df : El DataFrame para el cual se generará la descripción

    Returns:
    La funcion no tiene return pero devuelve varios prints con
    la informacion que necesitamos:
    - describe separados por col numericas y categoricas
    - dtypes por columna
    - shape
    - info
    - total de nulos
    - total de duplicados)"""
       
    print(f"------EXPLORACION DATAFRAME ABC CORPORATION------")
    print("-------Descripción numéricas:---------")
    print(dataframe.describe())
    print("-------Descripción categoricas:---------")
    print(dataframe.describe(include="O"))
    print("------Tipos:---------")
    print(dataframe.dtypes)
    print("------Forma del DataFrame:------")
    print(dataframe.shape)
    print("------Información:---------")
    print(dataframe.info())
    print("------Nulos:---------")
    print(dataframe.isnull().sum())
    print("------Duplicados:---------")
    print(dataframe.duplicated().sum())
    
def exploracion_columna (dataframe):

    for columna in list(dataframe.columns):

        print(f" \n----------- ESTAMOS ANALIZANDO LA COLUMNA: '{columna.upper()}' -----------\n")
        print(f"* Nº de datos: {len(dataframe[columna].to_list())}")
        print(f"* Frecuencia de valores en la columna: \n {dataframe[columna].value_counts()}")
        print(f"* Datos unicos en la columna {len(dataframe[columna].unique())}")
        print(f"* Los valores son de tipo: {type(columna)}")
        print(f"La suma de datos nulos {dataframe[columna].isnull().sum()}")
        print(dataframe[columna].unique())

In [6]:
exploracion_general(df)

------EXPLORACION DATAFRAME ABC CORPORATION------
-------Descripción numéricas:---------
                  Timestamp  Gender        Country Occupation self_employed  \
count                292364  292364         292364     292364        287162
unique                  734       2             35          5             2
top     2014-08-27 12:31:41    Male  United States  Housewife            No
freq                    780  239850         171308      66351        257994

       family_history treatment Days_Indoors Growing_Stress Changes_Habits  \
count          292364    292364       292364         292364         292364
unique              2         2            5              3              3
top                No       Yes    1-14 days          Maybe            Yes
freq           176832    147606        63548          99985         109523

       Mental_Health_History Mood_Swings Coping_Struggles Work_Interest  \
count                 292364      292364           292364        292364
unique                     3           3                2             3
top                       No      Medium               No            No
freq                  104018      101064           154328        105843

       Social_Weakness mental_health_interview care_options
count           292364                  292364       292364
unique               3                       3            3
top              Maybe                      No           No
freq            103393                  232166       118886
-------Descripción categoricas:---------
                  Timestamp  Gender        Country Occupation self_employed  \
count                292364  292364         292364     292364        287162
unique                  734       2             35          5             2
top     2014-08-27 12:31:41    Male  United States  Housewife            No
freq                    780  239850         171308      66351        257994

       family_history treatment Days_Indoors Growing_Stress Changes_Habits  \
count          292364    292364       292364         292364         292364
unique              2         2            5              3              3
top                No       Yes    1-14 days          Maybe            Yes
freq           176832    147606        63548          99985         109523

       Mental_Health_History Mood_Swings Coping_Struggles Work_Interest  \
count                 292364      292364           292364        292364
unique                     3           3                2             3
top                       No      Medium               No            No
freq                  104018      101064           154328        105843

       Social_Weakness mental_health_interview care_options
count           292364                  292364       292364
unique               3                       3            3
top              Maybe                      No           No
freq            103393                  232166       118886
------Tipos:---------
Timestamp                  object
Gender                     object
Country                    object
Occupation                 object
self_employed              object
family_history             object
treatment                  object
Days_Indoors               object
Growing_Stress             object
Changes_Habits             object
Mental_Health_History      object
Mood_Swings                object
Coping_Struggles           object
Work_Interest              object
Social_Weakness            object
mental_health_interview    object
care_options               object
dtype: object
------Forma del DataFrame:------
(292364, 17)
------Información:---------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 292364 entries, 0 to 292363
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Timestamp                292364 non-null  object
 1   Gender                   292364 non-null  object
 2   Country                  292364 non-null  object
 3   Occupation               292364 non-null  object
 4   self_employed            287162 non-null  object
 5   family_history           292364 non-null  object
 6   treatment                292364 non-null  object
 7   Days_Indoors             292364 non-null  object
 8   Growing_Stress           292364 non-null  object
 9   Changes_Habits           292364 non-null  object
 10  Mental_Health_History    292364 non-null  object
 11  Mood_Swings              292364 non-null  object
 12  Coping_Struggles         292364 non-null  object
 13  Work_Interest            292364 non-null  object
 14  Social_Weakness          292364 non-null  object
 15  mental_health_interview  292364 non-null  object
 16  care_options             292364 non-null  object
dtypes: object(17)
memory usage: 37.9+ MB
None
------Nulos:---------
Timestamp                     0
Gender                        0
Country                       0
Occupation                    0
self_employed              5202
family_history                0
treatment                     0
Days_Indoors                  0
Growing_Stress                0
Changes_Habits                0
Mental_Health_History         0
Mood_Swings                   0
Coping_Struggles              0
Work_Interest                 0
Social_Weakness               0
mental_health_interview       0
care_options                  0
dtype: int64
------Duplicados:---------
363

In [7]:
exploracion_columna(df)

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'TIMESTAMP' -----------

* Nº de datos: 292364
* Frecuencia de valores en la columna:
 2014-08-27 12:31:41    780
2014-08-27 12:54:11    780
2014-08-27 11:29:31    434
2014-08-28 17:20:41    434
2014-08-28 13:41:51    434
                      ...
2014-08-27 15:27:38    390
2014-08-27 15:27:39    390
2014-08-27 15:28:34    390
2014-08-27 15:31:18    390
2016-02-01 23:04:31    390
Name: Timestamp, Length: 734, dtype: int64
* Datos unicos en la columna 734
* Los valores son de tipo: <class 'str'>
La suma de datos nulos 0
['2014-08-27 11:29:31' '2014-08-27 11:31:50' '2014-08-27 11:32:39'
 '2014-08-27 11:37:59' '2014-08-27 11:43:36' '2014-08-27 11:49:51'
 '2014-08-27 11:51:34' '2014-08-27 11:52:41' '2014-08-27 12:18:38'
 '2014-08-27 12:37:50' '2014-08-27 12:39:18' '2014-08-27 12:40:06'
 '2014-08-27 12:49:27' '2014-08-27 12:49:30' '2014-08-27 12:50:57'
 '2014-08-27 12:51:51' '2014-08-27 12:53:13' '2014-08-27 12:53:15'
 '2014-08-27 12:55:01' '2014-08-27 12:57:38' '2014-08-27 13:06:00'
 '2014-08-27 13:31:03' '2014-08-27 13:47:05' '2014-08-27 13:49:32'
 '2014-08-27 13:55:16' '2014-08-27 14:11:52' '2014-08-27 14:13:02'
 '2014-08-27 14:13:16' '2014-08-27 14:16:00' '2014-08-27 14:19:12'
 '2014-08-27 14:27:51' '2014-08-27 14:31:06' '2014-08-27 14:52:53'
 '2014-08-27 15:22:50' '2014-08-27 15:24:28' '2014-08-27 15:29:07'
 '2014-08-27 15:34:31' '2014-08-27 15:35:37' '2014-08-27 15:36:13'
 '2014-08-27 16:02:16' '2014-08-27 16:14:04' '2014-08-27 16:19:05'
 '2014-08-27 16:21:11' '2014-08-27 16:25:26' '2014-08-27 16:27:04'
 '2014-08-27 16:35:02' '2014-08-27 16:42:55' '2014-08-27 17:08:18'
 '2014-08-27 17:32:04' '2014-08-27 17:37:41' '2014-08-27 17:48:54'
 '2014-08-27 17:56:50' '2014-08-27 18:02:32' '2014-08-27 18:59:44'
 '2014-08-27 19:05:52' '2014-08-27 20:33:33' '2014-08-27 20:48:54'
 '2014-08-27 21:54:29' '2014-08-27 22:14:23' '2014-08-28 01:30:12'
 '2014-08-28 01:41:17' '2014-08-28 01:56:43' '2014-08-28 02:32:11'
 '2014-08-28 03:29:19' '2014-08-28 04:02:47' '2014-08-28 04:16:30'
 '2014-08-28 08:39:49' '2014-08-28 09:16:21' '2014-08-28 09:18:13'
 '2014-08-28 09:55:14' '2014-08-28 11:26:15' '2014-08-28 11:38:30'
 '2014-08-28 11:47:35' '2014-08-28 11:50:06' '2014-08-28 12:10:42'
 '2014-08-28 12:12:49' '2014-08-28 13:08:36' '2014-08-28 13:11:05'
 '2014-08-28 13:26:17' '2014-08-28 13:41:51' '2014-08-28 14:31:00'
 '2014-08-28 14:52:46' '2014-08-28 16:54:49' '2014-08-28 17:12:30'
 '2014-08-28 17:20:41' '2014-08-28 18:21:58' '2014-08-28 18:50:47'
 '2014-08-28 21:41:53' '2014-08-29 05:57:48' '2014-08-29 08:59:08'
 '2014-08-29 09:02:56' '2014-08-29 09:14:45' '2014-08-29 09:23:22'
 '2014-08-29 09:51:35' '2014-08-29 09:53:38' '2014-08-29 10:06:29'
 '2014-08-29 10:59:57' '2014-08-29 11:11:00' '2014-08-29 11:23:21'
 '2014-08-29 11:33:54' '2014-08-29 11:53:59' '2014-08-29 11:54:38'
 '2014-08-29 12:54:31' '2014-08-29 14:51:49' '2014-08-29 16:17:32'
 '2014-08-29 17:04:12' '2014-08-29 21:40:26' '2014-08-29 22:08:51'
 '2014-08-30 19:56:23' '2014-09-02 08:24:43' '2014-09-04 23:42:28'
 '2014-09-08 21:30:59' '2014-09-20 13:51:05' '2014-10-02 21:25:16'
 '2014-12-01 09:58:28' '2015-02-21 04:32:45' '2015-02-21 05:11:37'
 '2015-02-21 09:18:20' '2015-02-21 18:54:12' '2015-02-24 08:54:35'
 '2015-06-25 12:24:31' '2014-08-27 11:29:44' '2014-08-27 11:29:46'
 '2014-08-27 11:30:22' '2014-08-27 11:31:22' '2014-08-27 11:32:43'
 '2014-08-27 11:32:44' '2014-08-27 11:33:26' '2014-08-27 11:33:57'
 '2014-08-27 11:34:20' '2014-08-27 11:34:37' '2014-08-27 11:35:08'
 '2014-08-27 11:35:12' '2014-08-27 11:35:48' '2014-08-27 11:36:24'
 '2014-08-27 11:38:18' '2014-08-27 11:39:03' '2014-08-27 11:38:55'
 '2014-08-27 11:39:36' '2014-08-27 11:41:17' '2014-08-27 11:41:37'
 '2014-08-27 11:41:50' '2014-08-27 11:42:25' '2014-08-27 11:42:31'
 '2014-08-27 11:43:07' '2014-08-27 11:43:10' '2014-08-27 11:43:22'
 '2014-08-27 11:43:45' '2014-08-27 11:43:48' '2014-08-27 11:45:32'
 '2014-08-27 11:45:51' '2014-08-27 11:47:10' '2014-08-27 11:47:33'
 '2014-08-27 11:48:57' '2014-08-27 11:50:27' '2014-08-27 11:50:28'
 '2014-08-27 11:51:07' '2014-08-27 11:52:44' '2014-08-27 11:56:17'
 '2014-08-27 11:56:29' '2014-08-27 11:57:30' '2014-08-27 11:57:33'
 '2014-08-27 11:57:54' '2014-08-27 11:59:31' '2014-08-27 12:01:50'
 '2014-08-27 12:02:40' '2014-08-27 12:05:13' '2014-08-27 12:05:37'
 '2014-08-27 12:07:08' '2014-08-27 12:12:47' '2014-08-27 12:14:13'
 '2014-08-27 12:16:21' '2014-08-27 12:19:52' '2014-08-27 12:20:10'
 '2014-08-27 12:22:55' '2014-08-27 12:23:48' '2014-08-27 12:25:09'
 '2014-08-27 12:28:16' '2014-08-27 12:29:25' '2014-08-27 12:31:02'
 '2014-08-27 12:31:14' '2014-08-27 12:31:34' '2014-08-27 12:31:41'
 '2014-08-27 12:31:43' '2014-08-27 12:32:24' '2014-08-27 12:32:59'
 '2014-08-27 12:33:00' '2014-08-27 12:33:23' '2014-08-27 12:33:36'
 '2014-08-27 12:33:56' '2014-08-27 12:34:11' '2014-08-27 12:34:13'
 '2014-08-27 12:34:48' '2014-08-27 12:34:57' '2014-08-27 12:36:03'
 '2014-08-27 12:36:18' '2014-08-27 12:36:53' '2014-08-27 12:37:26'
 '2014-08-27 12:37:31' '2014-08-27 12:38:11' '2014-08-27 12:38:18'
 '2014-08-27 12:39:14' '2014-08-27 12:39:21' '2014-08-27 12:39:57'
 '2014-08-27 12:40:36' '2014-08-27 12:41:20' '2014-08-27 12:41:59'
 '2014-08-27 12:42:24' '2014-08-27 12:42:52' '2014-08-27 12:43:40'
 '2014-08-27 12:43:53' '2014-08-27 12:48:06' '2014-08-27 12:48:39'
 '2014-08-27 12:48:40' '2014-08-27 12:48:51' '2014-08-27 12:50:36'
 '2014-08-27 12:51:36' '2014-08-27 12:52:08' '2014-08-27 12:52:49'
 '2014-08-27 12:53:00' '2014-08-27 12:53:40' '2014-08-27 12:54:11'
 '2014-08-27 12:55:38' '2014-08-27 12:56:13' '2014-08-27 12:56:56'
 '2014-08-27 12:58:42' '2014-08-27 13:02:14' '2014-08-27 13:03:05'
 '2014-08-27 13:06:12' '2014-08-27 13:07:24' '2014-08-27 13:08:17'
 '2014-08-27 13:12:43' '2014-08-27 13:15:19' '2014-08-27 13:15:25'
 '2014-08-27 13:19:40' '2014-08-27 13:21:00' '2014-08-27 13:22:49'
 '2014-08-27 13:23:38' '2014-08-27 13:24:34' '2014-08-27 13:24:57'
 '2014-08-27 13:26:54' '2014-08-27 13:27:18' '2014-08-27 13:29:45'
 '2014-08-27 13:31:35' '2014-08-27 13:33:32' '2014-08-27 13:34:03'
 '2014-08-27 13:35:40' '2014-08-27 13:37:18' '2014-08-27 13:39:00'
 '2014-08-27 13:40:58' '2014-08-27 13:44:05' '2014-08-27 13:44:47'
 '2014-08-27 13:46:03' '2014-08-27 13:47:27' '2014-08-27 13:48:01'
 '2014-08-27 13:49:15' '2014-08-27 13:52:05' '2014-08-27 13:52:57'
 '2014-08-27 13:53:44' '2014-08-27 13:54:00' '2014-08-27 13:54:24'
 '2014-08-27 13:55:22' '2014-08-27 13:55:38' '2014-08-27 13:56:35'
 '2014-08-27 13:59:35' '2014-08-27 14:01:25' '2014-08-27 14:03:54'
 '2014-08-27 14:03:59' '2014-08-27 14:10:53' '2014-08-27 14:11:46'
 '2014-08-27 14:11:55' '2014-08-27 14:13:24' '2014-08-27 14:15:21'
 '2014-08-27 14:15:57' '2014-08-27 14:18:44' '2014-08-27 14:20:43'
 '2014-08-27 14:22:43' '2014-08-27 14:23:51' '2014-08-27 14:23:53'
 '2014-08-27 14:25:41' '2014-08-27 14:25:54' '2014-08-27 14:26:32'
 '2014-08-27 14:27:28' '2014-08-27 14:28:41' '2014-08-27 14:28:43'
 '2014-08-27 14:28:49' '2014-08-27 14:29:19' '2014-08-27 14:31:28'
 '2014-08-27 14:31:44' '2014-08-27 14:32:46' '2014-08-27 14:33:44'
 '2014-08-27 14:34:47' '2014-08-27 14:37:33' '2014-08-27 14:38:06'
 '2014-08-27 14:38:26' '2014-08-27 14:38:54' '2014-08-27 14:39:20'
 '2014-08-27 14:41:09' '2014-08-27 14:41:16' '2014-08-27 14:45:12'
 '2014-08-27 14:47:10' '2014-08-27 14:49:08' '2014-08-27 14:49:30'
 '2014-08-27 14:51:29' '2014-08-27 14:53:11' '2014-08-27 14:57:46'
 '2014-08-27 15:05:00' '2014-08-27 15:05:21' '2014-08-27 15:09:58'
 '2014-08-27 15:11:30' '2014-08-27 15:13:33' '2014-08-27 15:14:50'
 '2014-08-27 15:15:29' '2014-08-27 15:23:07' '2014-08-27 15:23:19'
 '2014-08-27 15:23:33' '2014-08-27 15:23:54' '2014-08-27 15:24:49'
 '2014-08-27 15:24:55' '2014-08-27 15:25:03' '2014-08-27 15:25:16'
 '2014-08-27 15:25:47' '2014-08-27 15:26:05' '2014-08-27 15:26:37'
 '2014-08-27 15:27:31' '2014-08-27 15:27:38' '2014-08-27 15:27:39'
 '2014-08-27 15:28:34' '2014-08-27 15:31:18' '2014-08-27 15:31:31'
 '2014-08-27 15:31:38' '2014-08-27 15:32:43' '2014-08-27 15:34:23'
 '2014-08-27 15:35:21' '2014-08-27 15:35:50' '2014-08-27 15:36:41'
 '2014-08-27 15:38:37' '2014-08-27 15:39:31' '2014-08-27 15:40:03'
 '2014-08-27 15:43:27' '2014-08-27 15:43:30' '2014-08-27 15:43:45'
 '2014-08-27 15:46:39' '2014-08-27 15:50:26' '2014-08-27 15:51:36'
 '2014-08-27 15:53:39' '2014-08-27 15:55:07' '2014-08-27 15:55:08'
 '2014-08-27 15:56:37' '2014-08-27 15:58:23' '2014-08-27 15:59:41'
 '2014-08-27 16:00:16' '2014-08-27 16:04:01' '2014-08-27 16:07:32'
 '2014-08-27 16:13:31' '2014-08-27 16:13:40' '2014-08-27 16:13:42'
 '2014-08-27 16:14:43' '2014-08-27 16:15:26' '2014-08-27 16:15:33'
 '2014-08-27 16:17:41' '2014-08-27 16:21:24' '2014-08-27 16:21:54'
 '2014-08-27 16:21:55' '2014-08-27 16:22:10' '2014-08-27 16:23:14'
 '2014-08-27 16:28:20' '2014-08-27 16:29:05' '2014-08-27 16:31:16'
 '2014-08-27 16:34:18' '2014-08-27 16:42:00' '2014-08-27 16:55:04'
 '2014-08-27 17:03:02' '2014-08-27 17:04:29' '2014-08-27 17:09:23'
 '2014-08-27 17:10:56' '2014-08-27 17:15:25' '2014-08-27 17:19:05'
 '2014-08-27 17:33:52' '2014-08-27 17:39:58' '2014-08-27 17:41:44'
 '2014-08-27 17:46:17' '2014-08-27 17:47:45' '2014-08-27 17:52:31'
 '2014-08-27 18:16:52' '2014-08-27 18:18:18' '2014-08-27 18:41:00'
 '2014-08-27 19:13:27' '2014-08-27 19:17:07' '2014-08-27 19:25:42'
 '2014-08-27 19:27:25' '2014-08-27 19:28:35' '2014-08-27 19:34:26'
 '2014-08-27 19:38:44' '2014-08-27 19:41:28' '2014-08-27 20:13:06'
 '2014-08-27 20:52:20' '2014-08-27 20:52:31' '2014-08-27 20:53:22'
 '2014-08-27 21:15:09' '2014-08-27 21:21:31' '2014-08-27 21:35:24'
 '2014-08-27 21:39:23' '2014-08-27 21:45:31' '2014-08-27 21:54:32'
 '2014-08-27 22:00:36' '2014-08-27 22:04:43' '2014-08-27 22:04:47'
 '2014-08-27 22:06:14' '2014-08-27 22:07:34' '2014-08-27 22:12:55'
 '2014-08-27 22:13:55' '2014-08-27 22:21:48' '2014-08-27 22:26:03'
 '2014-08-27 22:32:36' '2014-08-27 22:35:40' '2014-08-27 22:36:34'
 '2014-08-27 23:09:46' '2014-08-27 23:10:16' '2014-08-27 23:14:58'
 '2014-08-27 23:30:52' '2014-08-27 23:54:08' '2014-08-27 23:56:33'
 '2014-08-27 23:57:16' '2014-08-27 23:59:59' '2014-08-28 00:02:36'
 '2014-08-28 00:05:34' '2014-08-28 00:17:24' '2014-08-28 00:43:40'
 '2014-08-28 01:04:45' '2014-08-28 02:30:00' '2014-08-28 02:46:56'
 '2014-08-28 03:06:14' '2014-08-28 03:13:10' '2014-08-28 03:15:01'
 '2014-08-28 03:36:10' '2014-08-28 03:47:30' '2014-08-28 03:49:56'
 '2014-08-28 03:52:05' '2014-08-28 04:09:14' '2014-08-28 04:24:03'
 '2014-08-28 05:12:15' '2014-08-28 05:14:28' '2014-08-28 06:02:05'
 '2014-08-28 06:05:18' '2014-08-28 06:10:25' '2014-08-28 07:03:00'
 '2014-08-28 07:03:03' '2014-08-28 08:06:43' '2014-08-28 08:18:06'
 '2014-08-28 08:23:11' '2014-08-28 08:40:55' '2014-08-28 08:43:23'
 '2014-08-28 08:43:58' '2014-08-28 09:53:42' '2014-08-28 09:53:57'
 '2014-08-28 09:56:03' '2014-08-28 09:56:04' '2014-08-28 09:56:10'
 '2014-08-28 09:57:02' '2014-08-28 09:59:39' '2014-08-28 10:00:48'
 '2014-08-28 10:01:15' '2014-08-28 10:01:31' '2014-08-28 10:02:23'
 '2014-08-28 10:02:45' '2014-08-28 10:05:43' '2014-08-28 10:07:37'
 '2014-08-28 10:08:19' '2014-08-28 10:10:29' '2014-08-28 10:13:44'
 '2014-08-28 10:17:19' '2014-08-28 10:18:34' '2014-08-28 10:18:46'
 '2014-08-28 10:22:06' '2014-08-28 10:24:19' '2014-08-28 10:25:39'
 '2014-08-28 10:30:04' '2014-08-28 10:30:44' '2014-08-28 10:34:01'
 '2014-08-28 10:35:55' '2014-08-28 10:42:09' '2014-08-28 10:47:12'
 '2014-08-28 10:51:08' '2014-08-28 10:52:33' '2014-08-28 11:02:41'
 '2014-08-28 11:04:00' '2014-08-28 11:04:17' '2014-08-28 11:07:23'
 '2014-08-28 11:10:53' '2014-08-28 11:14:21' '2014-08-28 11:15:42'
 '2014-08-28 11:21:17' '2014-08-28 11:21:48' '2014-08-28 11:34:36'
 '2014-08-28 11:36:48' '2014-08-28 11:40:11' '2014-08-28 11:44:43'
 '2014-08-28 11:48:12' '2014-08-28 11:50:28' '2014-08-28 11:58:21'
 '2014-08-28 12:02:59' '2014-08-28 12:05:41' '2014-08-28 12:06:55'
 '2014-08-28 12:07:28' '2014-08-28 12:08:30' '2014-08-28 12:15:08'
 '2014-08-28 12:19:34' '2014-08-28 12:23:37' '2014-08-28 12:30:20'
 '2014-08-28 12:40:46' '2014-08-28 12:42:12' '2014-08-28 12:42:30'
 '2014-08-28 13:01:26' '2014-08-28 13:17:40' '2014-08-28 13:32:37'
 '2014-08-28 13:34:57' '2014-08-28 13:39:12' '2014-08-28 13:39:40'
 '2014-08-28 13:57:01' '2014-08-28 14:00:02' '2014-08-28 14:01:56'
 '2014-08-28 14:04:54' '2014-08-28 14:12:58' '2014-08-28 14:38:50'
 '2014-08-28 14:51:46' '2014-08-28 14:53:02' '2014-08-28 14:57:10'
 '2014-08-28 15:32:03' '2014-08-28 15:43:37' '2014-08-28 15:48:12'
 '2014-08-28 15:50:44' '2014-08-28 16:09:35' '2014-08-28 16:55:07'
 '2014-08-28 16:56:26' '2014-08-28 16:56:58' '2014-08-28 16:57:49'
 '2014-08-28 16:58:33' '2014-08-28 16:58:50' '2014-08-28 17:01:06'
 '2014-08-28 17:01:25' '2014-08-28 17:02:27' '2014-08-28 17:02:29'
 '2014-08-28 17:03:42' '2014-08-28 17:07:28' '2014-08-28 17:07:39'
 '2014-08-28 17:10:08' '2014-08-28 17:16:53' '2014-08-28 17:19:05'
 '2014-08-28 17:19:53' '2014-08-28 17:21:43' '2014-08-28 17:22:53'
 '2014-08-28 17:27:03' '2014-08-28 17:28:46' '2014-08-28 17:31:06'
 '2014-08-28 17:33:05' '2014-08-28 17:34:30' '2014-08-28 17:36:48'
 '2014-08-28 17:46:37' '2014-08-28 17:47:49' '2014-08-28 17:50:32'
 '2014-08-28 17:56:02' '2014-08-28 17:57:39' '2014-08-28 17:59:31'
 '2014-08-28 17:59:57' '2014-08-28 18:01:00' '2014-08-28 18:07:42'
 '2014-08-28 18:17:41' '2014-08-28 18:21:23' '2014-08-28 18:26:35'
 '2014-08-28 19:03:47' '2014-08-28 19:04:05' '2014-08-28 19:26:03'
 '2014-08-28 19:35:39' '2014-08-28 20:12:08' '2014-08-28 20:31:02'
 '2014-08-28 21:22:40' '2014-08-28 21:30:35' '2014-08-28 21:33:32'
 '2014-08-28 21:38:12' '2014-08-28 22:17:15' '2014-08-28 22:18:41'
 '2014-08-28 22:20:33' '2014-08-28 22:22:39' '2014-08-28 22:23:47'
 '2014-08-28 22:35:10' '2014-08-28 22:46:40' '2014-08-28 23:03:05'
 '2014-08-28 23:57:07' '2014-08-29 00:05:07' '2014-08-29 00:06:49'
 '2014-08-29 00:11:17' '2014-08-29 00:41:25' '2014-08-29 00:43:37'
 '2014-08-29 00:47:09' '2014-08-29 01:14:09' '2014-08-29 02:10:57'
 '2014-08-29 03:08:25' '2014-08-29 04:53:12' '2014-08-29 05:54:26'
 '2014-08-29 06:06:46' '2014-08-29 06:37:49' '2014-08-29 07:12:43'
 '2014-08-29 07:21:30' '2014-08-29 07:28:17' '2014-08-29 07:51:42'
 '2014-08-29 08:26:36' '2014-08-29 08:53:19' '2014-08-29 08:57:14'
 '2014-08-29 08:57:42' '2014-08-29 09:01:45' '2014-08-29 09:02:04'
 '2014-08-29 09:10:08' '2014-08-29 09:12:16' '2014-08-29 09:13:43'
 '2014-08-29 09:15:52' '2014-08-29 09:19:25' '2014-08-29 09:23:44'
 '2014-08-29 09:27:12' '2014-08-29 09:29:37' '2014-08-29 09:35:46'
 '2014-08-29 09:36:04' '2014-08-29 09:54:01' '2014-08-29 09:59:39'
 '2014-08-29 10:03:24' '2014-08-29 10:13:39' '2014-08-29 10:13:43'
 '2014-08-29 10:30:09' '2014-08-29 10:33:45' '2014-08-29 10:38:23'
 '2014-08-29 10:38:29' '2014-08-29 10:55:24' '2014-08-29 11:02:23'
 '2014-08-29 11:12:22' '2014-08-29 11:20:13' '2014-08-29 11:20:52'
 '2014-08-29 11:25:30' '2014-08-29 11:27:47' '2014-08-29 11:32:22'
 '2014-08-29 11:34:07' '2014-08-29 11:36:38' '2014-08-29 11:40:29'
 '2014-08-29 11:43:12' '2014-08-29 11:56:18' '2014-08-29 12:08:12'
 '2014-08-29 12:20:01' '2014-08-29 12:27:54' '2014-08-29 12:45:11'
 '2014-08-29 12:48:20' '2014-08-29 13:17:33' '2014-08-29 13:58:25'
 '2014-08-29 14:09:21' '2014-08-29 14:31:00' '2014-08-29 15:59:55'
 '2014-08-29 16:07:05' '2014-08-29 17:04:07' '2014-08-29 17:35:16'
 '2014-08-29 18:33:32' '2014-08-29 19:32:13' '2014-08-29 20:53:09'
 '2014-08-29 20:53:58' '2014-08-29 21:26:44' '2014-08-29 21:28:14'
 '2014-08-30 00:09:55' '2014-08-30 06:48:28' '2014-08-30 13:23:57'
 '2014-08-30 13:55:45' '2014-08-30 14:00:22' '2014-08-30 15:57:04'
 '2014-08-30 16:13:40' '2014-08-30 16:38:02' '2014-08-30 18:29:00'
 '2014-08-30 19:35:58' '2014-08-30 20:19:37' '2014-08-30 20:43:51'
 '2014-08-31 04:31:11' '2014-09-01 04:28:55' '2014-09-01 06:52:31'
 '2014-09-01 08:19:15' '2014-09-01 08:23:15' '2014-09-01 09:12:15'
 '2014-09-01 09:15:34' '2014-09-01 12:00:28' '2014-09-01 17:59:14'
 '2014-09-02 03:13:53' '2014-09-02 04:00:58' '2014-09-02 08:00:33'
 '2014-09-02 09:57:22' '2014-09-02 17:04:56' '2014-09-04 06:23:48'
 '2014-09-04 08:35:49' '2014-09-04 17:38:22' '2014-09-05 14:15:48'
 '2014-09-05 14:19:00' '2014-09-08 16:46:53' '2014-09-09 13:49:50'
 '2014-09-11 17:00:30' '2014-09-13 07:52:27' '2014-09-14 09:04:08'
 '2014-09-23 20:05:05' '2014-11-16 08:42:35' '2014-12-15 00:43:49'
 '2015-02-21 04:16:05' '2015-02-21 04:16:23' '2015-02-21 04:41:28'
 '2015-02-21 04:55:11' '2015-02-21 05:34:27' '2015-02-21 05:55:13'
 '2015-02-21 05:55:17' '2015-02-21 06:19:41' '2015-02-21 08:21:36'
 '2015-02-21 08:54:40' '2015-02-21 09:19:12' '2015-02-21 09:22:23'
 '2015-02-21 09:30:14' '2015-02-21 09:48:13' '2015-02-21 10:00:50'
 '2015-02-21 17:19:18' '2015-02-21 18:59:05' '2015-02-22 02:40:32'
 '2015-02-24 09:00:56' '2015-02-24 09:13:49' '2015-02-24 09:18:25'
 '2015-02-24 10:32:32' '2015-04-02 15:47:43' '2015-04-11 14:35:22'
 '2015-04-23 14:03:51' '2015-05-06 10:14:50' '2015-05-06 16:55:58'
 '2015-07-27 23:25:34' '2015-08-17 09:38:35' '2015-08-25 19:59:38'
 '2015-09-26 01:07:35' '2016-02-01 23:04:31']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'GENDER' -----------

* Nº de datos: 292364
* Frecuencia de valores en la columna:
 Male      239850
Female     52514
Name: Gender, dtype: int64
* Datos unicos en la columna 2
* Los valores son de tipo: <class 'str'>
La suma de datos nulos 0
['Female' 'Male']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'COUNTRY' -----------

* Nº de datos: 292364
* Frecuencia de valores en la columna:
 United States             171308
United Kingdom             51404
Canada                     18726
Australia                   6026
Netherlands                 5894
Ireland                     5548
Germany                     4680
Sweden                      2818
India                       2774
France                      2340
Brazil                      2340
New Zealand                 1994
South Africa                1994
Switzerland                 1560
Israel                      1560
Italy                       1560
Belgium                      824
Poland                       824
Russia                       780
Denmark                      780
Singapore                    780
Greece                       780
Czech Republic               390
Georgia                      390
Colombia                     390
Moldova                      390
Mexico                       390
Croatia                      390
Thailand                     390
Nigeria                      390
Bosnia and Herzegovina       390
Portugal                     390
Finland                      390
Costa Rica                   390
Philippines                  390
Name: Country, dtype: int64
* Datos unicos en la columna 35
* Los valores son de tipo: <class 'str'>
La suma de datos nulos 0
['United States' 'Poland' 'Australia' 'Canada' 'United Kingdom'
 'South Africa' 'Sweden' 'New Zealand' 'Netherlands' 'India' 'Belgium'
 'Ireland' 'France' 'Portugal' 'Brazil' 'Costa Rica' 'Russia' 'Germany'
 'Switzerland' 'Finland' 'Israel' 'Italy' 'Bosnia and Herzegovina'
 'Singapore' 'Nigeria' 'Croatia' 'Thailand' 'Denmark' 'Mexico' 'Greece'
 'Moldova' 'Colombia' 'Georgia' 'Czech Republic' 'Philippines']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'OCCUPATION' -----------

* Nº de datos: 292364
* Frecuencia de valores en la columna:
 Housewife    66351
Student      61794
Corporate    61229
Others       52841
Business     50149
Name: Occupation, dtype: int64
* Datos unicos en la columna 5
* Los valores son de tipo: <class 'str'>
La suma de datos nulos 0
['Corporate' 'Student' 'Business' 'Housewife' 'Others']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'SELF_EMPLOYED' -----------

* Nº de datos: 292364
* Frecuencia de valores en la columna:
 No     257994
Yes     29168
Name: self_employed, dtype: int64
* Datos unicos en la columna 3
* Los valores son de tipo: <class 'str'>
La suma de datos nulos 5202
[nan 'No' 'Yes']

----------- ESTAMOS ANALIZANDO LA COLUMNA: 'FAMILY_HISTORY' -----------

* Nº de datos: 292364
* Frecuencia de valores en la columna:
 No     176832
Yes    115532

In [8]:
df["Gender"].unique()

array(['Female', 'Male'], dtype=object)

In [9]:
df["Country"].unique()

array(['United States', 'Poland', 'Australia', 'Canada', 'United Kingdom',
       'South Africa', 'Sweden', 'New Zealand', 'Netherlands', 'India',
       'Belgium', 'Ireland', 'France', 'Portugal', 'Brazil', 'Costa Rica',
       'Russia', 'Germany', 'Switzerland', 'Finland', 'Israel', 'Italy',
       'Bosnia and Herzegovina', 'Singapore', 'Nigeria', 'Croatia',
       'Thailand', 'Denmark', 'Mexico', 'Greece', 'Moldova', 'Colombia',
       'Georgia', 'Czech Republic', 'Philippines'], dtype=object)

In [10]:
df["Occupation"].unique()

array(['Corporate', 'Student', 'Business', 'Housewife', 'Others'],
      dtype=object)

In [11]:
df["Days_Indoors"].unique()

array(['1-14 days', 'Go out Every day', 'More than 2 months',
       '15-30 days', '31-60 days'], dtype=object)

In [12]:
df.duplicated().sum()

363

In [13]:
# Gestión de duplicados
df.drop_duplicates(keep = "first", inplace = True) # Habia 363

In [14]:
df.duplicated().sum()

0

In [22]:
# Gestión de nulos  -  Columna self_employed
df["self_employed"].unique()

array([nan, 'No', 'Yes'], dtype=object)

In [23]:
# Reemplazar Nan por Unknown
df["self_employed"] = df["self_employed"].fillna("Unknown")

In [24]:
# Verificación de nulos
df.isnull().sum() / df.shape[0] * 100

Timestamp                  0.0
Gender                     0.0
Country                    0.0
Occupation                 0.0
self_employed              0.0
family_history             0.0
treatment                  0.0
Days_Indoors               0.0
Growing_Stress             0.0
Changes_Habits             0.0
Mental_Health_History      0.0
Mood_Swings                0.0
Coping_Struggles           0.0
Work_Interest              0.0
Social_Weakness            0.0
mental_health_interview    0.0
care_options               0.0
dtype: float64

In [25]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'self_employed',
       'family_history', 'treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Mood_Swings',
       'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
       'mental_health_interview', 'care_options'],
      dtype='object')

In [26]:
# Renombrar columnas primera letra en Mayúsculas
df = df.rename(columns= {'Timestamp': 'Timestamp',
    'Gender': 'Gender',
    'Country': 'Country',
    'Occupation': 'Occupation',
    'self_employed': 'Self_employed',
    'family_history': 'Family_history',
    'treatment': 'Treatment',
    'Days_Indoors': 'Days_Indoors',
    'Growing_Stress': 'Growing_Stress',
    'Changes_Habits': 'Changes_Habits',
    'Mental_Health_History': 'Mental_Health_History',
    'Mood_Swings': 'Mood_Swings',
    'Coping_Struggles': 'Coping_Struggles',
    'Work_Interest': 'Work_Interest',
    'Social_Weakness': 'Social_Weakness',
    'mental_health_interview': 'Mental_health_interview',
    'care_options': 'Care_options'})

In [28]:
df.columns

Index(['Timestamp', 'Gender', 'Country', 'Occupation', 'Self_employed',
       'Family_history', 'Treatment', 'Days_Indoors', 'Growing_Stress',
       'Changes_Habits', 'Mental_Health_History', 'Mood_Swings',
       'Coping_Struggles', 'Work_Interest', 'Social_Weakness',
       'Mental_health_interview', 'Care_options'],
      dtype='object')

In [29]:
# Guardar el cvs limpio
df.to_csv('Mental Health Clean.csv', index=False)